<nav class="nav-extended">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo" >Social App</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- <li class="dropdown-button dropdown-trigger" data-target='dropdown'>
          <i class="fa fa-globe fa-1x badge"></i>
          <span class="nav-label-icon">2</span>
          <ul id='dropdown' class='dropdown-content col s12 collection'>
            <li class="collection-item avatar"><a href="#!">one</a></li>
            <li class="collection-item avatar"><a href="#!">two</a></li>

          </ul>
        </li> -->
        <li><a (click)="LogOut()">Logout</a></li>
      </ul>
    </div>

    <div class="nav-content center">
      <div class="nav-div">
        <img class="circle responsive" src="https://res.cloudinary.com/dgqaxuar8/image/upload/v{{ImgVersion}}/{{ImageID}}" style="width:10%; height:10%">
      </div>
      <h5 class="profile-name"> {{user.username}}</h5>
    </div>
  </div>
</nav>